$fontFamilyRoboto:'Roboto' ;
$themeBgPrimary: #f2edf3;
$textColorPrimary : grey;
$anchorColor: #2e3192 ;
$anchorHover:#ef3d46;
$headingColor:#000;
$themeBgSecondary:linear-gradient(90deg, rgba(46, 49, 146, 1) 0%, rgba(238, 58, 70, 1) 100%);
$textColorSecondary: #fff;
$themeBgSecondaryHover: linear-gradient(269deg, rgba(46, 49, 146, 1) 0%, rgba(238, 58, 70, 1) 100%);
$pageTitle:#343a40;
$error:#dc3545;
$wraning:#ffc107;
$info:#007bff;
$sucess:#28a745;
$xbold-weight:600 ;



